<div>
    <img alt="Фотография 1" src="http://127.0.0.1:8000/images/Christine_Turek_4.jpg">
</div>
                    <div class="entry__content">

                        <p class="lead drop-cap">
С момента запуска в прошлом году <a href="https://shop.lomography.com/lomochrome-color-92-120-iso-400?source=www-content-magazine-352852">LomoChrome Color ' 92</a> показал себя хорошо в любой ситуации, будь то дождливый день на улице города или съемка портретов в помещении. Мы были в восторге от ее <a href="https://www.lomography.com/magazine/348080-christine-tureks-glowing-portraiture-on-lomography-color-negative">последней статьи</a>. увидеть, как <a href="https://www.instagram.com/christineturek/">Кристин Турек</a> использовала Color '92 в своей студийной работе, и результаты не разочаровали!
                        </p>

                        <p>
Без лишних слов, давайте послушаем Кристину и посмотрим ее последние фотографии!
                        </p>
                    <div class="media-wrap entry__media">
                        <div class="entry__slider slider">
                            <div class="slider__slides">
                                <div class="slider__slide">
                                    <img src="https://assets.community.lomography.com/f1/a4064400977d9381e8973569822e3469d7a0df/1018x1216x2.jpg?auth=bebe58af6bee5ee621f25c8bedcc2110dcc4d784" alt="" >
                                </div>
                                <div class="slider__slide">
                                    <img src="https://assets.community.lomography.com/b5/8b06d035b30f8bd5df9b48c7f3746692bd2627/994x1216x2.jpg?auth=c3db1db90b0eda1cd14220af1c6a08079217bade" alt="" >
                                </div>
                                <div class="slider__slide">
                                    <img src="https://assets.community.lomography.com/3b/71a626ed84b7e4963052f16195f8a0ac438dcd/992x1216x2.jpg?auth=dea027f25362c21005d26e1e775192ee2189f217" alt="" >
                                </div>
                            </div>
                        </div>
                    </div>

                        <p>
                        <strong>Привет, Кристина, добро пожаловать снова в журнал Lomography Magazine! Не могли бы вы еще раз представиться нашему сообществу?</strong>
                        </p>
                        <p>Привет! Меня зовут Кристин Турек, я фотограф из Монреаля, Канада. Я занимаюсь фотографией около 25 лет и наслаждаюсь каждой минутой этого процесса!</p>
                        <p><strong>Каковы были ваши первые впечатления от <a href="https://shop.lomography.com/lomochrome-color-92-120-iso-400?source=www-content-magazine-352852"> Цвет ЛомоХром '92</a> ?</strong></p>
                        <p>Я использовал много других пленок Lomography, и это был мой первый раз, когда я пробовал Color '92. Мне он показался очень резким, детализация действительно хорошая, а цвет более приглушенный по сравнению с Lomo 400 или 800. Мне очень понравилось пробовать что-то новое!</p>
                         <img src="https://assets.community.lomography.com/f0/7ffb6e88423bc647e2a78c17f9dd90d6e21131/1019x1216x2.jpg?auth=ae6365216fb9f6707f2eedaa4dddc25bebdbbe9c" alt="Изображение 1" width="960" height="1200">
                         <img src="https://assets.community.lomography.com/9a/b0065c10ee2cef2d2a34ba84072d1f3feb1203/1010x1216x2.jpg?auth=2ed1d49ae446c945547238e0f1bbbd7de45c9e01" alt="Изображение 1" width="960" height="1200">
                        <p><strong>Как, по вашему мнению, LomoChrome Color '92 показал себя в студии?</strong></p>
                        <p>Мне понравилось тестировать его в студии, он действительно привнес те тона, которые я хотела для Хани, моей модели. В будущем обязательно попробую на природе.</p>
                        <p><strong>Почему вам нравится средний формат?</strong></p>
                        <p>Мне просто нравится качество и детализация среднего формата. Он достаточно большой, чтобы обеспечить потрясающую детализацию, но достаточно маленький, чтобы его было легко использовать и даже можно было с ним путешествовать. Когда я снимаю на открытом воздухе, мне нравится иметь возможность менять локацию, и я могу это сделать, используя средний формат, сохраняя при этом качество, которое мне нравится.</p>


                        <blockquote>
                            <p>
                                «Мне просто нравится качество и детализация среднего формата. Он достаточно большой, чтобы обеспечить потрясающую детализацию, но при этом достаточно маленький, чтобы его было легко использовать и даже брать с собой в путешествие».
                            </p>
                        </blockquote>
                        <p><strong>В основном вы снимаете портреты. Какие методы вы используете, чтобы максимально эффективно изображать своих моделей?</strong></p>
                        <p>Я просто создаю уютные условия для моделей. Я фотографирую начинающих моделей, поэтому иногда они немного нервничают. Я добиваюсь от них максимума, чтобы они чувствовали себя комфортно.</p>
                        <p><strong>Можете ли вы дать совет всем, кто интересуется портретной фотографией?</strong></p>
                        <p>Я считаю, что изучение освещения, будь то естественное или студийное, очень важно. Обратите внимание на освещение и расположите объект съемки непринужденно. </p>
                        <p><strong>Есть ли у вас какие-либо предстоящие проекты, которыми вы хотели бы поделиться с нашим сообществом?</strong></p>
                        <p>Несколько лет назад я основала журнал <a href="https://www.instagram.com/iconicartist.eu/">Iconic Artist Magazine</a> вместе с другом и коллегой-фотографом <a href="https://www.instagram.com/jonathan.lorilla/">Джонатаном Лорилла</a>, из Милана, Италия. В мае у нас будет фотовыставка в Париже вместе с Image Nation, а затем еще одна в конце сентября в Милане, которую я планирую посетить, так что я очень этого жду! </p>
                        <hr>
                        <p>Спасибо, Кристина, что поделились! Если вы хотите быть в курсе ее творчества, вы можете найти ее в <a href="https://www.instagram.com/christineturek/">Instagram</a></p>
