<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>В нашем последнем интервью с гонконгской художницей <strong>Lean Lui</strong>, она рассказала нам о своем
    эксперименте с пинхолом и стиральной машиной <a
            href="https://www.lomography.com/magazine/349010-traversing-philosophy-and-photography-lean-luis-pinhole-camera-washing-machine-experiment">Ощущение
        беспорядка</a> – концепция, основанная на восточной философии и западном искусстве. </p>
<p>Недавно мы снова встретились с Лин, чтобы поговорить о ее второй фотокниге <em>Асептическое поле</em>. Концептуальная
    фотокнига Лин, основанная на ее личных убеждениях в любви, чистоте и самооценке, вышла после ее первой книги. <a
            href="https://www.lomography.com/magazine/339632-19-29-lean-lui-on-self-reflection-through-photography">&lt;19.29&gt;</a>,
    визуальное дневник ее самоанализа, опубликованный, когда ей было 20 лет. Вот наше с ней интервью. </p>
<div style="display: flex;">
    <figure style="margin-left: 1px; width: 620px;">
        <img alt="Изображение 1"
             src="https://assets.community.lomography.com/3c/e7a193f97a04a1af70aa674a54d2e948e38122/600x818x2.jpg?auth=ac0003a499e9d61836077d57fe769654fdf06798">
    </figure>
    <figure style="margin-left: 1px; width: 550px;">
        <img alt="Изображение 2"
             src="https://assets.community.lomography.com/86/66d751c171da4e5976bda91635896dbc232104/570x883x2.jpg?auth=84d5b9654fdcb3da73054df60c16518a631b0ace">
    </figure>
</div>
<strong>Привет, Лин! Добро пожаловать. Как твои дела с тех пор, как мы с тобой в последний раз разговаривали? Над чем вы
    работали?</strong>
<p>Приятно вернуться снова! У меня все хорошо, я очень рад опубликовать свою вторую книгу <em>Асептическое поле</em> в
    Setanta Books.
</p>
</div>
<img alt="Фотография 1" src="http://127.0.0.1:8000/images/Aseptic_field_film_1.jpg">
<strong>Когда вы начали работать над <em>Асептическим полем</em> и что вас вдохновило?</strong>
<p>Эта книга посвящена моей крайней психической мизофобии. Последние 25 лет я придерживался своего требовательного
    стандарта чистой любви. Меня стошнило, когда я узнал, что у моего парня раньше были отношения. Это произошло снова
    во время моего первого сеанса терапии. </p>
<p>Я не могла это принять, это казалось несправедливым, превращая мое представление о «чистой любви» в «грязь». Почти
    все говорили, что я слишком идеалистична в отношении настоящей любви, но, будучи воспитана в семье, в которой все
    женились на своей первой любви и азиатских драмах, я терпеть не могла никаких посторонних в отношениях, неважно,
    воспоминания это или что-то еще. </p>
<p>Если бы я однажды сдалась, <em>Асептическое поле</em> стало бы моей эпитафией. Но на данный момент это безопасное
    место для моей души.</p>


<div>
    <img alt="" class="" height="576"
         src="https://assets.community.lomography.com/95/95737faba87f658adf92b0559e568784c178a0/384x576x2.jpg?auth=2a0846667a28e99e670ace2a8b2d2f8a9637b3c1"
         width="384">
    <img 10px; alt="" class="" height="576" loading="eager" margin-bottom:
         src="https://assets.community.lomography.com/cb/4e0869bd4b829560b0699599a6bffc61b0f927/384x576x2.jpg?auth=bde5024c562a477a3146836a7d575c00dcc37655"
         style="background-image: url('data:image/gif;base64,R0lGODdhBQAFAPQAALWtqrqwrr+0sL62tL66t7u7ucCwsMa0tM+ytMy0tMO4tMa8usm5uci8vNO2utC4uNK8vta8v8DCvcTAvcXAvc3DwtDAwdHBwtTAwgAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAABQAFAAAFFaA0LYpQWdCTXFjkIFTDHEZBDAEQAgA7');"
         width="384">
    <img alt="" class="" height="576" loading="eager"
         src="https://assets.community.lomography.com/0f/31ade23c40124f7a26a57b3ba3363605eb9f88/384x576x2.jpg?auth=c29fac3176409cfd58714a936df28e7f508df22d"
         style="background-image: url('data:image/gif;base64,R0lGODdhBQAFAPQAAKeMgayRiKqRjLOclridlr6glb6glrusqcCkmMemn8KtqMisqM6tqMKzsMK3tcS8uc2/vNK2stG+uMnBvsvAvs/Bvs/Fw9HDwNnGwgAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAABQAFAAAFFSCTGAUSLUQAYJIyCNUFNYdDWdMTAgA7');"
         width="384">
    <img alt="" class="" height="576" loading="eager"
         src="https://assets.community.lomography.com/9f/a5699f7dcbdc15ed890f0514974525ff481157/384x576x2.jpg?auth=1ddbcae10160ce9b79a2255e6152d0166f8dc076"
         style="background-image: url('data:image/gif;base64,R0lGODdhBQAFAPQAAKGVmaSbnKmemqyenamVobGarKaio6yioLajp7OpoLWqpLqvqb63rbyos8C3sMe5uMfAtsXBuMfCvMvIv82+wdDLxdPOy9HSzNDSzQAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAABQAFAAAFFSB2TZFkVRDjUM+SKA0yCEdBAIERAgA7');"
         width="384">
</div>
<p>Кроме того, я хотел представить герметичное пространство, очень влажное, с высоким давлением и смазкой. Я часто
    чувствую себя изолированным от внешнего мира. Название <em>Асептическое поле</em> очень научно. Он изолированный и
    холодный, очень сдержанный. Я думал о тестировании на бактерии в чашках Петри в средней школе. </p>
<blockquote cite="http://where-i-got-my-info-from.com">
    <p>
        «Я чувствую себя некомфортно, если не переношу свои эмоции на работу, потому что мне нужно место, где их можно
        сохранить».
    </p>
</blockquote>
<p>В асептическом поле нет ни бактерий, ни микробов, оно очень чистое и чистое. Это моя идеология моей системы
    эмоциональных ценностей, например, чистота любви. Мои фотографии достаточно эмоциональные, поэтичные и мечтательные,
    но при этом очень спокойные. Эмоции внутри, но это как море: когда уходят волны, море кажется спокойным, но водой
    бурлит жизнь.</p>
<div style="display: flex;">
    <figure style="margin-left: 1px; width: 620px;">
        <img alt="Изображение 1"
             src="https://assets.community.lomography.com/0e/4abe423f4a33e9440d91f681624e39726ce6c2/632x764x2.jpg?auth=f47e11058a762e6d7a6644ebd4eadf8bcce1474c">
    </figure>
    <figure style="margin-left: 1px; width: 550px;">
        <img alt="Изображение 2"
             src="https://assets.community.lomography.com/0f/c6f43a062ade374b65cae553dabdad0bcd83f2/546x810x2.jpg?auth=c7b468da5690f082092afc20267d7bc9f0bb247f">
    </figure>
</div>
<strong>Фотокнига исследует идеи о чистой любви, личном пространстве и внешнем мире, женственности и сексуальности.
    Считаете ли вы, что об этих темах нужно говорить больше?</strong>
<p>Я глубоко погружаюсь в сложную и многослойную концепцию «чистоты», постоянно исследуя ее сложности и расширяя
    горизонты. Будучи милой азиатской девушкой в своих появлениях, я с детства всегда чувствовала злобный взгляд
    патриархального общества – невинные и покорные образы, от которых меня тошнило. Поэтому я подумал, что вся
    привлекательность и чистота должны стать оружием, пулей, покрытой сахаром. </p>
<p>Чистота – это не значит знать меньше, а настаивать на большем. В эту новую эпоху большинство людей стали гордиться
    тем, что они играют в отношениях или имеют «ситуации», действуя физически, а не умственно, из-за гедонизма и
    любопытства. Я не сужу людей, мы все должны уважать выбор других и быть честными в отношении своего, но мне все это
    отвратительно. </p>
<p>Большинство людей подумают, что я слишком экстремальна в своих взглядах, но на самом деле, к счастью, я нашла группу
    единомышленников в интернете. Это небольшая группа.</p>
<div style="display: flex;">
    <figure style="margin-left: 1px; width: 620px;">
        <img alt="Изображение 1"
             src="https://assets.community.lomography.com/8d/73da74c24319d2639a0fb5758d481273e00439/627x901x2.jpg?auth=7f5f9405a68f43f12589b92b17ac4ea5aeb4b9e0">
    </figure>
    <figure style="margin-left: 1px; width: 550px;">
        <img alt="Изображение 2"
             src="https://assets.community.lomography.com/68/8f2ca11c4ebf5e98e9809bf48755fef8831744/589x901x2.jpg?auth=fd793bad4fac462b3be7b534ba5738903bc135a8">
    </figure>
</div>
<p><strong>Как художник, многие ваши работы всегда основаны на ваших собственных эмоциональных переживаниях. Как вы
    находите в себе смелость или мотивацию выразить свой внутренний мир через искусство?</strong></p>
<p>Напротив, я чувствую себя некомфортно, если не переношу свои эмоции на работу, потому что мне нужно место, где их
    можно сохранить. </p>
<p><strong>Фотографии для этого проекта были сделаны исключительно на пленку? Какие фотоаппараты и пленки вы
    использовали, чтобы фотокнига выглядела так, как вам хотелось?</strong></p>
<p>Да, 95 процентов — это пленка. Возможно, мое постоянное настроение обусловлено скорее общим мотивом и концепцией, чем
    внешним видом, поскольку я использую разные камеры, такие как Pentax, Canon, Minolta, но больше всего я использовала
    пленку Kodak.</p>
<p><strong>И наконец, где мы можем получить копии фотокниги?</strong></p>
<p>Через <a href="https://www.setantabooks.com/products/aseptic-field?variant=41628741009617">Setanta Books</a>.</p>
<hr>
<p>Мы хотели бы поблагодарить Лин за то, что она поделилась с нами своими мыслями и изображениями! </p>
<p>Чтобы увидеть больше ее работ, вы можете посетить ее <a href="https://www.lomography.com/homes/leanlui">LomoHome</a>,
    <a href="https://www. instagram.com/leanlui/">страница Instagram</a> и <a
            href="https://www.leanlui.com/">веб-сайт</a>. <br></п>
</body>
</html>